.intro {
    background-color: white;
}

h1 {
    color:azure;
    background-color:cadetblue;
    text-align:left;
    font-size: 35px;
    font-weight: bold;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

i {
    font-style: italic;
    color: green;
}

.barra_superior {
    background: #CCCCCC;
}

nav {
    position: absolute;
    top: 10px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: azure;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
}